
@font-face {
  font-family: 'cool';
  src:url(HyperScrypt-Stencil_web.woff)
}
body {
    background-color:010101;
    margin:20px;
    
    background-size: contain;
    background-repeat: no-repeat;
    
    
  }

  div.icon{
    position: fixed;
    width: 50px;
    bottom:10px;
    right: 10px;
  }

  div.icon2{
    position: fixed;
    width: 50px;
    top:10px;
    right: 10px;
  }

  div.cool {
    font-family: 'cool';
  }

  div.image{
    position: relative;
    background-size: cover;

  }

  
  img {
    width:100%;
  }
  
  
  
  div.largetext {
    font-size:8vw;
    line-height:8vw;
    color: rgb(255, 253, 249);
    margin-left: 10px;
  }
  
  div.bigtext{
    font-size: 3vw;
    padding: 10px;
    text-align: center;
  }
  div.mediumtext {
    font-size: 1.5vw;
    line-height: 2vw;
   
  }

  div.middletext {
    font-size:1.5vw;
  }
  
  div.smalltext {
    font-size:1.2vw;
  
  }

  div.tinytext{
    font-size: 1vw
  }
  
  div.sans {
    font-family: arial;
    font-weight: bold;
  }
  
  div.serif {
    font-family: times;
  }
  


  
  div.green {
    color:rgb(71, 187, 45);
  }
  
  div.white {
    color:white;
  }

  div.grey{
    color: rgb(202, 202, 202);
  }
  
  div.yellow{
    color: rgb(250, 245, 87);
  }
  div.red{
    color: rgb(230, 53, 53);
  }
  

  
  div.w75 {
    width: 75%;
    padding:10px;
  }
  div.w66 {
    width:66%
  }
  div.w50 {
    width: 50%;
  
   
  }

  div.w45 {
    width: 45%;
    padding:15px;
  }
  
  div.w33 {
    width: 33.333%;
    padding:10px;

  }
  
  div.w5{
    width: 5%;
  }
  div.w25 {
    width: 25%;
  
  }

  div.text{
    margin-top: 50px;
    margin-bottom: 80px;
    display:flex;
    margin-left: 20px;
    flex-wrap:wrap;
    
  
  }
  

  
  div.row {
    display:flex;
    flex-wrap:wrap;
    margin-top: 12vw;
  }
  
  div.col {
    
  }
  
  div.title {
    margin-top:100px;
    margin-bottom:100px;
    text-align:center;
  }
  
  div.side {
    margin-left: auto;
  }


  
  div.center {
    margin-left:auto;
    margin-right:auto;
  }
  div.middle{
    text-align: center;
  }
  
  div.main {
    margin-bottom: 100px;
    margin-top: 100px;
    border-bottom:1px solid black;
  }

  div.section{
    border-top:1px solid rgb(255, 255, 255);

    margin-left: 7vw;
    margin-right: 7vw;
    
  }

  div.diary{
    
    margin-top: 3vw;
    border-radius: 20px;

  }

div.line{
    border-top: 1px solid white;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }

div.line2{
  border-top: 2px solid rgb(250, 245, 87);
  margin-left: auto;
  margin-top: 5vh;
  width: 80%;
  
}

div.line3{
  border-top: 2px solid rgb(251, 83, 83);
  margin-top: 5vh;
  width: 80%;
  
}
div.note{

  }
div.center{
  margin-left: auto;
  margin-right: auto;
}

div.record{
  margin-top: 5vw;
  width: 50vw;
}
div.record img{
  
  border: 1px solid green;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
}

div.margin{
  margin-left: 18px;
}
div.battery{
  width: 6vw;
  margin-left:auto;
  margin-right: 20px;
  margin-top: 5vh;
}

div.section2{
  margin-top: 15vw;

  display: flex;
  flex-wrap: wrap;
}
div.battery2{
  width: 6vw;
  margin-left: 20px;

}

div.battery3{
  width: 6vw;
  margin-left: auto;
}

div.box{
  display: flex;
  flex-wrap: wrap;
}
div.save{
  writing-mode: vertical-lr;
  border: 2px solid yellow;
  border-radius: 40px;
  padding: 1px;
  margin-left: 30px;

}



div.sectiona{
  display: flex;
  flex-wrap: wrap;
}

div.section3{
  display: flex;
  flex-wrap: wrap;
}

div.lock{
  width: 80%;
  padding: 5px;
  margin-left: auto;
}

div.right{
  margin-left: auto;
}

div.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%       ;
}

div.res{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  vertical-align: center;
}

div.scan{
  width: 50%;
}

div.chart{
width: 78%;
margin-left: auto;

}

div.savea{
  writing-mode: vertical-lr;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 40px;
  margin-left: 10px;

}

div.save{
  writing-mode: vertical-lr;
  border: 2px solid yellow;
  border-radius: 40px;
  padding: 1px;
  margin-left: 30px;

}
div.smalltext.b{
  margin-top: 20px;
  padding: 10px;
  
}

div.video{
  padding: 10px;
}

div.map.a{
  width: 65%;
  margin-right: auto;
  margin-left: auto;

}