@font-face{
    font-family: 'handwritting';
    src:url('bridge.woff');
}


body{
    background-color: rgb(241, 239, 235);
}

div.tab{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: aliceblue;
    background-color: black;
    font-family:sans-serif;
    text-align:center;
}

div.intro{
    display:flex;
    flex-wrap:wrap;
    margin-top: 20px;
}

div.introcol{
    width: 60%;
    font-family: 'handwritting';
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:blanchedalmond;
    box-shadow: 10px 10px 5px rgb(152, 147, 141);
    padding: 20px;
}
div.likes{
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: left 30px;
}

div.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -20%;
    
}

div.headline{
    width: 30%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
    background-color: dodgerblue;
    
}
div.headline.a{ 
    color: white;
    background-color: dodgerblue;
    margin-left: 60%;
    
}
div.headline.b{
    color: black;
    background-color: chartreuse;
    
}

div.random{
    transition: 1s;
}

div.headline.x{
    font-size: 30px;
    
}
div.letter{
    margin-top: 20px;
}
div.letter2{
    width: 60%;
    font-family: 'handwritting';
    font-size: 40px;
    margin-left: 30%;
    background-color:blanchedalmond;
    box-shadow: 10px 10px 5px rgb(152, 147, 141);
    padding: 20px;
}

div.main2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -30%;
    
}
div.post{
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 100px;

}

div.post.f{
    color: rgb(0, 0, 0);
}